body{
    background-color: black;
}
.smalldiv{
    width: 130px;
    height:40px;
    display: flex;
    margin: 5px;
    background-color: gray;
    text-align: center;
    border-radius: 3px;
    background-color: rgb(48, 46, 46);
}
.small{
    display: flex;
    
}
.smalldiv>img{
    height: 40%;
   padding: 10px;
}
.smalldiv>p{
    margin-top: 10px;
    font-weight: bold;
}
#container{
   
   
    display: flex;
   background-color: black;
   color: white;
   font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.box{
    margin:0px 100px 50px 50px;
  width:900px;
  
}
.box>p{
    line-height: 1.4;
    font-size: 19px;
    letter-spacing:1px
}
.box>h5{
    margin-left: 6px;
    
letter-spacing: 3px;
font-weight: bold;
color: #ec008c;
}
.box>h1{
    font-size: 56px;
}
.box>button{
background-image: linear-gradient(to right,#da4412,#e62445, #f0127a);
color: white;
border:0px;
padding: 10px;
height: 50px;
width:153px;
font-weight: bolder;

}
.side{
   width:350px;
   height:400px;
   background-color: rgb(48, 46, 46);
   padding: 35px 40px;
border-radius: 10px;
box-shadow: 0 6px 10px rgb(0 0 0 / 30%);
/* margin-bottom: 40px; */
}
.side li{
line-height: 25px;
}
.list{
display: flex;
color: #cccccc;
list-style: none;
list-style-position: initial;
list-style-image: initial;
list-style-type: none;
margin-left: 10px;

}   
.list>li{
margin: 5px;

}
.down{
color:white;
margin-left: 50px;

}
.down>button{
 width: 830px;
 background-color: rgb(48, 46, 46);
 color: white;
 border:0px;
 font-weight: bold;
 text-align: left;
 font-size: 19px;
 padding: 17px;
 border-radius: 8px;

}  
.rightdown{
background-image: url("	https://www.pluralsight.com/etc/clientlibs/pluralsight/main/images/paths-v2/paths-skill-iq-bkgd.png");
background-size: cover;
background-position: top right;
background-repeat: no-repeat;
padding: 40px;
margin-right: 20px;
color: #ffffff;
height: 400px;
border-radius: 10px;
position: relative;
min-height: 250px;
width:350px;
overflow: hidden;
/* background: linear-gradient(to bottom, #26c1e1 0%, #26c1e1 33%, #86ce21 33%, #86ce21 33%, #86ce21 68%, #ffc200 68%, #ffc200 100%); */
}
.rightdown>img{
 
 height:30px;
}
.down>button:hover{
 background-color: rgb(63, 62, 62);
}
.rightdown>button{
 background: none;
 border:1px solid white;
 color: white;
 font-weight: bold;
 padding: 20px 30px 20px 30px;
}
.box2{
 display: flex;
 justify-content: space-between;
}
#dropdown{
 display:none;
 font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.downlist{
 display: flex;
 border-left:2px solid white ;
 padding-left: 20px;
}
.p2{
 margin-right: 30px;
 
}
.downlist img{
 height:20px;
 margin-right: 50px;
 
}

.clip-star {
background: gold;
clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
display: inline-block;
height: 20px;
width: 20px;
margin-top:12px
}
.para{
font-size: 19px;
}
.p1{
margin-right: 7px;
}