body{
    background-color: #000;
}
.share-your-skills {
  height: 700px;
  background: #000;
  padding: 100px;
  text-align: center;
}
.non-profit {
  background-image: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/generic_block_1609496607/image-res.img.33ca2e50-2f6c-49aa-8635-2ceaf23513b1.jpg");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px;
}
.non-profit > div {
  width: 45%;
}
.try-foot {
  background-color: #181818;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 150px;
}
.discover-box {
  background-color: black;
  width: 95%;
  margin: auto;
  font-family: "Helvetica Neue", "Helvetica", " Arial", "romote", "sans-serif";
}
.d-product-flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
}
.d-image > img {
  width: 93%;
  border-radius: 20px;
}
.discover-box h5 {
  color: #ffba0e !important;
}
.discover-box h1,
.discover-box p {
  color: rgb(255, 255, 255);
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}
.discover-box h4 {
  color: #ec008c !important;
}
.d-box_p {
  font-size: 14px;
}
.d-box2 {
  display: grid;
  grid-template-columns: 900px 500px;
  /* flex-wrap: wrap; */

  margin-top: 100px;
}
.d-back {
  height: 450px;
  width: 100%;
  background-image: url("https://www.pluralsight.com/content/pluralsight/en/jcr:content/main/targeted_section/targeted-parsys-customer-types-1/generic_block/parsys/columns/column-parsys-1/generic_block/image-res.img.6035278d-dbde-46e2-8112-82c230cb476a.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.d-my_plural {
  padding-top: 100px;
  padding-left: 50px;

  font-size: 70px;
}
.d-ryan {
  background-color: rgb(12, 100, 182);
  padding: 60px;
  width: 100%;
}
.ryan-story-btn {
  background-color: black;
  color: white;
  border: 0px;
  height: 50px;
}
.d-ryan-img {
  width: 400px;
}
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .d-product-flex {
    grid-template-columns: repeat(1, 1fr);
  }
  .d-box2 {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2,200px); */
  }
}

/*mobile view  */
@media only screen and (min-width: 321px) and (max-width: 720px) {
  .d-product-flex {
    grid-template-columns: repeat(2, 1fr);
  }
  .d-box2 {
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(2,200px); */
  }
}
