.container{
    background-color:
    #181818;
    width: 100%;
    height: 1300px;
    margin-top: 60px;

}
body{
    background-color: black;

}
.title{
    color: #E40084;
    font-family: sans-serif;
    padding-top: 50px;
    padding-left: 18px;
    font-weight: bold;
}
.title2{
    font-family: sans-serif;
    padding-left: 18px;
    color: white;
    font-weight: bold;
}
.parentbox{
      width: 97.5%;
      height: 85%;
      margin: auto;
}
.firstbox{
    width: 100%;
    height: 40%;
  
}
.grid1{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(1,440px);
}
.grid1> div:nth-child(1){
    background-color: #222222;
    border-radius: 10px 0px 0px 10px;
}
.grid1> div:nth-child(2){
    background-color: #222;
}
.img1{
    height: 100%;
    width: 100%;
}
.logo{
    height: 25px;
    padding: 35px;
}
.text1{
    color: white;
    font-size: 42px;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -40px;
    padding: 35px;
}
.text2{
    color: white;
    font-family: sans-serif;
    margin-top: -69px;
    padding: 35px;
}
.atri{
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: -69px;
    padding: 35px;
    color: white;
    font-size: 20px;

}
.scndbox{
    width: 100%;
    height: 58%;
    margin-top: 40px;
  
}
.grid2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,630px);
    gap: 20px;
  }
  .grid2> div{
      background-color: #222;
      border-radius: 10px;
  }
  @media only screen and (min-width:0px) and (max-width:1024px){
    .grid1{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,200px);
      }
      .grid2{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(1,400px);
      }

  }
 